.nav-side-menu {
  overflow: auto;
  font-size: 1.6rem;
  color: #333333;
}

.nav-side-menu .brand {
  //background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}

.nav-side-menu .toggle-btn {
  display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  .collapsed {
    .arrow:before {
      font-family: FontAwesome;
      content: "\f053";
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      vertical-align: middle;
      float: right;
      background: $gray-500;
      width: 36px;
    }
  }
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
  background: $gray-500;
  width: 36px;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid $primary;
  background-color: #4f5b69;
}

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  font-weight: bold;
}

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  //color: #d19b3d;
}
.nav-side-menu ul .sub-menu li:last-child,
.nav-side-menu li .sub-menu li:last-child{
  margin-bottom: 20px;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li, .nav-side-menu .sub-menu li a {
  background-color: $white;
  border: none;
  line-height: 28px;
  margin-left: 0px;
  color: $primary;
  font-weight: bold;
  padding-left: 0;
}
.nav-side-menu .sub-menu li a{
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: $gray-100;
}

.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
}

.nav-side-menu li {
  padding-left: 1rem;
  background-color: $gray-300;
}

.nav-side-menu li a {
  text-decoration: none;
  color: $black;
  font-weight: bold;
}

.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}

.nav-side-menu li:hover {
  //border-left: 3px solid #d19b3d;
  background-color: $gray-400;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}

@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}

body {
  margin: 0px;
  padding: 0px;
}
