@function calc-percent($target, $container) {
  @return ($target / $container) * 100%;
}

@mixin respond-to($media) {
  @media only screen and (max-width: $media + 'px') {
    @content;
  }
}

@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}

@function get-vw($target) {
  $vw-context: (1416 * 0.01) * 1px;
  @return ($target / $vw-context) * 1vw;
}
@function get-vw-sp($target) {
  $vw-context: (640 * 0.01) * 1px;
  @return ($target / $vw-context) * 1vw;
}


@function get-vw-hack($width, $size) {
  $vw-context: $width * 0.01;
  @return ($size / $vw-context) * 1vw;
}
